@{
    ViewData["Title"] = "School Management System";
}

<div>
    
    <div>

        <div>
            <h2>Student Management</h2>
            <ul>
                <li><a href="/Students/AddStudent">Add New Student</a></li>
                <li><a href="/Students/SearchStudent">Search, Update and Delete Students</a></li>
            </ul>
        </div>

        <div>
            <h2>Classroom Management</h2>
            <ul>
                <li><a href="/Students/AddStudent">Add New Classroom</a></li>
                <li><a href="/Students/?LinkID=398939">Search, Update and Delete Classrooms</a></li>
            </ul>
        </div>

        <div>
            <h2>Course Management</h2>
            <ul>
                <li><a href="/Students/AddStudent">Add New Course</a></li>
                <li><a href="/Students/?LinkID=398939">Search, Update and Delete Courses</a></li>
            </ul>
        </div>

    </div>

</div>