@{
    ViewData["Title"] = "School Management System";
}

<div>
    
    <div>

        <div>
            <h2><u>Student Management</u></h2>
            <ul>
                <li><a href="/Student/AddStudent">Add New Student</a></li>
                <li><a href="/Student/SearchStudent">Search, Update and Delete Existing Student</a></li>
            </ul>
        </div>

        <div>
            <h2><u>Classroom Management</u></h2>
            <ul>
                <li><a href="/Classroom/AddClassroom">Add New Classroom</a></li>
                <li><a href="/Classroom/SearchClassroom">Search, Update and Delete Existing Classroom</a></li>
            </ul>
        </div>

        <div>
            <h2><u>Course Management</u></h2>
            <ul>
                <li><a href="/Course/AddCourse">Add New Course</a></li>
                <li><a href="/Course/SearchCourse">Search, Update and Delete Existing Course</a></li>
            </ul>
        </div>

        <div>
            <h2><u>Study Schedule Management</u></h2>
            <ul>
                <li><a href="/Schedule/AddSchedule">Add New Schedule</a></li>                
            </ul>
        </div>

    </div>

</div>