@model SchoolManagementSystem.ViewModel.StudentVM

@{
    ViewData["Title"] = "Update or Delete Student";
}

<div>

    @{
        string strRoll = Model.RollNo.ToString();
        string strStandard = Model.Standard.ToString();
    }

    <form action="" method="post" id="frmStudent">

            <br /><br />
            <h3>
                Student Roll No. : @strRoll
            </h3>

            <br /><br />
            <h3>
                Student Standard : @strStandard
            </h3>

            <br /><br />
            <h3>Student Name : <input type="text" id="txtName" name="Name" value="" /></h3>

            <br /><br />
            <h3>Student Contact no. : <input type="text" id="txtContact" name="Contact" value="" /></h3>

            <br /><br />
            <p class="text-center">
                <input type="submit" id="btnUpdate" name="StudentUpdate" value="Update Student"
                       onclick="document.getElementById('frmStudent').action = '/Students/UpdateStudent'" />
            </p>

            &nbsp;&nbsp;&nbsp;&nbsp;

            <p class="text-center">
                <input type="submit" id="btnDelete" name="StudentDelete" value="Delete Student"
                       onclick="document.getElementById('frmStudent').action = '/Students/DeleteStudent'" />
            </p>

    </form>

</div>