@{
    ViewData["Title"] = "Student Operation Complete";
}

<div>

    @{
        string message = (string)ViewData["OperateMessage"];
    }

    <br /><br />
    <h4>
        @message 
    </h4>

</div>